<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>E-shop компьютеры и комплектующие</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="page-wrap">
    <header class="header">
        <div class="content spacer">
            <div class="header__left">
                <div class="header__phones">
                    <a href="tel:+77773078299">+ 7 (777) 307 82 99</a>
                    <a href="tel:+77071991169">+ 7 (707) 199 11 69</a>
                </div><!--header__phones-->

                <a href="#" class="header__wapp">
                    <svg class="svg-icon icon-wapp"><use xlink:href="images/sprite.svg#icon-wapp"></use></svg>
                    <span>Напишите нам в WhatsApp</span>
                </a>

            </div><!--header__left-->

            <div class="header__right">
                <a href="#" class="header__link">
                    <svg class="svg-icon icon-diff"><use xlink:href="images/sprite.svg#icon-diff"></use></svg>
                    <span>Сравнение товаров (0)</span>
                </a>

                <a href="#" class="header__link">
                    <svg class="svg-icon icon-favorite"><use xlink:href="images/sprite.svg#icon-favorite"></use></svg>
                    <span>Мои закладки (0)</span>
                </a>

                <a href="#" class="header__link">
                    <svg class="svg-icon icon-personal"><use xlink:href="images/sprite.svg#icon-personal"></use></svg>
                    <span>Мои закладки (0)</span>
                </a>

            </div><!--header__right-->

        </div><!--content-->

    </header>

    <section class="nav-bar">
        <div class="content">
            <a href="#" class="logo"></a>

            <nav class="nav">
                <div class="spacer">
                    <a href="#" class="nav__link">компьютеры</a>
                    <a href="#" class="nav__link">ноутбуки</a>
                    <a href="#" class="nav__link">комплектующие</a>
                    <a href="#" class="nav__link">перифирия</a>
                    <a href="#" class="nav__link">сервисный центр</a>
                </div><!--spacer-->
            </nav>

            <div class="nav-bar__right">
                <a href="#" class="nav-bar__link">
                    <svg class="svg-icon icon-search pos-center"><use xlink:href="images/sprite.svg#icon-search"></use></svg>
                </a>

                <a href="#" class="nav-bar__link">
                    <i class="nav-bar__link-count">3</i>
                    <svg class="svg-icon icon-basket pos-center"><use xlink:href="images/sprite.svg#icon-basket"></use></svg>
                </a>

                <span class="menu__nav"></span>

            </div><!--nav-bar__right-->

        </div><!--content-->

    </section><!--nav-bar-->

    <section class="main">
        <div class="main__slides owl-carousel">
            <div class="main__slide">
                <div class="content">
                    <div class="main__slide-left">
                        <p class="main__slide-title">
                            сборка компьютера
                        </p>

                        <p class="main__slide-desc">
                            мы поможем подобрать сборку по вашим параметрам
                        </p>

                        <a href="#" class="blue-btn main__slide-link">подробнее</a>

                    </div><!--main__slide-left-->

                    <div class="main__slide-photo">
                        <img src="images/main-slider/slide-1.png" alt="Слайд">
                    </div><!--main__slide-photo-->

                </div><!--content-->

                <i class="main__slide-bg"></i>

            </div><!--main__slide-->

            <div class="main__slide">
                <div class="content">
                    <div class="main__slide-left">
                        <p class="main__slide-title">
                            сборка компьютера
                        </p>

                        <p class="main__slide-desc">
                            мы поможем подобрать сборку по вашим параметрам
                        </p>

                        <a href="#" class="blue-btn main__slide-link">подробнее</a>

                    </div><!--main__slide-left-->

                    <div class="main__slide-photo">
                        <img src="images/main-slider/slide-1.png" alt="Слайд">
                    </div><!--main__slide-photo-->

                </div><!--content-->

                <i class="main__slide-bg"></i>

            </div><!--main__slide-->

            <div class="main__slide">
                <div class="content">
                    <div class="main__slide-left">
                        <p class="main__slide-title">
                            сборка компьютера
                        </p>

                        <p class="main__slide-desc">
                            мы поможем подобрать сборку по вашим параметрам
                        </p>

                        <a href="#" class="blue-btn main__slide-link">подробнее</a>

                    </div><!--main__slide-left-->

                    <div class="main__slide-photo">
                        <img src="images/main-slider/slide-1.png" alt="Слайд">
                    </div><!--main__slide-photo-->

                </div><!--content-->

                <i class="main__slide-bg"></i>

            </div><!--main__slide-->

        </div><!--main__slides-->

        <div class="main__control content">
            <span class="main__control-prev">
                <svg class="svg-icon icon-slider-prev"><use xlink:href="images/sprite.svg#icon-slider-prev"></use></svg>
            </span>

            <span class="main__control-next">
                <svg class="svg-icon icon-slider-next"><use xlink:href="images/sprite.svg#icon-slider-next"></use></svg>
            </span>

        </div><!--main__control-->

    </section><!--main-->

    <section class="action">
        <div class="content">
            <p>
                E-shop отправляет 1% от продаж на благотворительность
            </p>

        </div><!--content-->

    </section><!--action-->

    <section class="categories content">
        <h2>
            категории товаров
        </h2>

        <div class="categories__list flex-container">
            <div class="category category_1">
                <a href="#" class="category__title">компьютеры</a>
                <div class="category__links">
                    <a href="#" class="category__link">игровые</a>
                    <a href="#" class="category__link">офисные</a>
                    <a href="#" class="category__link">эксклюзивные</a>
                    <a href="#" class="category__link">Дизайнерам</a>
                </div><!--category__links-->

                <i class="category__bg category__bg_1"></i>

            </div><!--category-->

            <div class="category category_2">
                <a href="#" class="category__title">комплектующие</a>
                <div class="category__links">
                    <a href="#" class="category__link">материнские платы</a>
                    <a href="#" class="category__link">процессоры</a>
                    <a href="#" class="category__link">Оперативная память (ОЗУ)</a>
                    <a href="#" class="category__link">видеокарта</a>
                    <a href="#" class="category__link">HDD диски</a>
                    <a href="#" class="category__link">SSD диски</a>
                    <a href="#" class="category__link">охлаждение</a>
                    <a href="#" class="category__link">блок питания</a>
                    <a href="#" class="category__link">корпусы</a>
                </div><!--category__links-->

                <i class="category__bg category__bg_2"></i>

            </div><!--category-->

            <div class="category category_3">
                <a href="#" class="category__title">перифирия</a>
                <div class="category__links">
                    <a href="#" class="category__link">кронштейны для мониторов</a>
                    <a href="#" class="category__link">мониторы</a>
                    <a href="#" class="category__link">клавиатуры</a>
                    <a href="#" class="category__link">мыши</a>
                    <a href="#" class="category__link">носители информации</a>
                    <a href="#" class="category__link">мультимедиа</a>
                </div><!--category__links-->

                <i class="category__bg category__bg_3"></i>

            </div><!--category-->

            <div class="category category_4">
                <a href="#" class="category__title">ноутбуки</a>
                <div class="category__links">
                    <a href="#" class="category__link">игровые ноутбуки</a>
                    <a href="#" class="category__link">офисные ноутбуки</a>
                    <a href="#" class="category__link">ультрабук</a>
                </div><!--category__links-->

                <i class="category__bg category__bg_4"></i>

            </div><!--category-->

        </div><!--categories__list-->

    </section><!--categories-->

    <section class="app">
        <div class="content">
            <p class="app__title">
                Мы также предоставляем услуги сервисного обслуживания:
            </p>

            <ul class="app__services">
                <li>ремонт компьютеров и ноутбуков</li>
                <li>гарантийное обслуживание</li>
            </ul>

            <button class="app__btn">Оставить заявку</button>

        </div><!--content-->

    </section><!--app-->

    <section class="brands">
        <div class="content">
            <div class="brands__slider">
                <ul class="brands__slides owl-carousel">
                    <li class="brand va-middle">
                        <img src="images/brands/logo-1.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-2.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-3.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-4.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-5.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-1.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-2.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-3.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-4.png" alt="Лого">
                    </li>

                    <li class="brand va-middle">
                        <img src="images/brands/logo-5.png" alt="Лого">
                    </li>

                </ul>

                <span class="brands__control-prev">
                    <svg class="svg-icon icon-brands-prev"><use xlink:href="images/sprite.svg#icon-brands-prev"></use></svg>
                </span>

                <span class="brands__control-next">
                    <svg class="svg-icon icon-brands-next"><use xlink:href="images/sprite.svg#icon-brands-next"></use></svg>
                </span>

            </div><!--brands__slider-->

        </div><!--content-->

    </section><!--brands-->

    <section class="catalog content">
        <h2>
            рекомендуем
        </h2>

        <div class="catalog__list flex-container">
            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-1.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    USB-гарнитура с настраиваемой
                    Razer Chroma подсветкой ушек
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    13 500 ₸
                </p>

                <p class="catalog__item-price catalog__item-price_old">
                    16 000 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-2.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    USB-гарнитура с настраиваемой
                    Razer Chroma подсветкой ушек
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    28 500 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-3.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    Механическая игровая
                    клавиатура с подсветкой
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    13 500 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-4.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    Механическая игровая
                    клавиатура с подсветкой
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    13 500 ₸
                </p>

                <p class="catalog__item-price catalog__item-price_old">
                    16 000 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-5.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    Механическая игровая
                    клавиатура с подсветкой
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    13 500 ₸
                </p>

                <p class="catalog__item-price catalog__item-price_old">
                    16 000 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-6.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    Механическая игровая
                    клавиатура с подсветкой
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    13 500 ₸
                </p>

                <p class="catalog__item-price catalog__item-price_old">
                    16 000 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-7.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    Механическая игровая
                    клавиатура с подсветкой
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    13 500 ₸
                </p>

                <p class="catalog__item-price catalog__item-price_old">
                    16 000 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

            <div class="catalog__item">
                <a href="#" class="catalog__item-photo">
                    <img src="images/catalog/product-8.png" alt="Фото">
                </a>

                <a href="#" class="catalog__item-title">
                    Механическая игровая
                    клавиатура с подсветкой
                </a>

                <div class="catalog__item-rating">
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star active"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                    <svg class="svg-icon icon-star"><use xlink:href="images/sprite.svg#icon-star"></use></svg>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    В наличии
                </p>

                <p class="catalog__item-price">
                    13 500 ₸
                </p>

                <p class="catalog__item-price catalog__item-price_old">
                    16 000 ₸
                </p>

                <button class="catalog__item-add">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

        </div><!--catalog__list-->

    </section><!--catalog-->

    <footer class="footer">
        <div class="content spacer_top">
            <div class="footer__contacts">
                <a href="#" class="footer__logo"></a>

                <div class="footer__contact">
                    <span class="footer__contact-icon">
                        <svg class="svg-icon icon-phone pos-center"><use xlink:href="images/sprite.svg#icon-phone"></use></svg>
                    </span>

                    <p class="footer__contact-desc">
                        <a href="tel:+77773078299">+7 777 307 82 99</a>
                    </p>

                </div><!--footer__contact-->

                <div class="footer__contact">
                    <span class="footer__contact-icon">
                        <svg class="svg-icon icon-time pos-center"><use xlink:href="images/sprite.svg#icon-time"></use></svg>
                    </span>

                    <p class="footer__contact-desc">
                        Понедельник - Пятница С 10:00 до 19:00 <br>
                        Суббота - Воскресенье С 11:00 до 17:00
                    </p>

                </div><!--footer__contact-->

                <div class="footer__contact">
                    <span class="footer__contact-icon">
                        <svg class="svg-icon icon-mark pos-center"><use xlink:href="images/sprite.svg#icon-mark"></use></svg>
                    </span>

                    <p class="footer__contact-desc">
                        Абая проспект, 138/2 3 этаж; 4 офис
                        Бостандыкский район, Алматы, 050046/A15H5P6
                    </p>

                </div><!--footer__contact-->

                <div class="social">
                    <a href="#" class="social__link">
                        <svg class="svg-icon icon-social-inst"><use xlink:href="images/sprite.svg#icon-social-inst"></use></svg>
                    </a>

                    <a href="#" class="social__link">
                        <svg class="svg-icon icon-social-wapp"><use xlink:href="images/sprite.svg#icon-social-wapp"></use></svg>
                    </a>

                </div><!--social-->

            </div><!--footer__contacts-->

            <div class="footer__col">
                <p class="footer__col-title">
                    КАТЕГОРИИ
                </p>

                <ul class="site-map">
                    <li>
                        <a href="#">Компьютеры</a>
                    </li>

                    <li>
                        <a href="#">Комплектующие</a>
                    </li>

                    <li>
                        <a href="#">Ноутбуки</a>
                    </li>

                    <li>
                        <a href="#">Перифирия</a>
                    </li>

                    <li>
                        <a href="#">Сервисный центр</a>
                    </li>

                </ul>

            </div><!--footer__col-->

            <div class="footer__col">
                <p class="footer__col-title">
                    ИНФОРМАЦИЯ
                </p>

                <ul class="site-map">
                    <li>
                        <a href="#">О нас</a>
                    </li>

                    <li>
                        <a href="#">Информация о доставке</a>
                    </li>

                    <li>
                        <a href="#">Политика безопасности</a>
                    </li>

                    <li>
                        <a href="#">Условия соглашения</a>
                    </li>

                    <li>
                        <a href="#">Личный кабинет</a>
                    </li>

                    <li>
                        <a href="#">История заказов</a>
                    </li>

                </ul>

            </div><!--footer__col-->

            <div class="footer__col">
                <p class="footer__col-title">
                    МЫ НА КАРТЕ
                </p>

                <div id="map"></div>

            </div><!--footer__col-->

        </div><!--content-->

        <div class="footer__bottom">
            <div class="content spacer">
                <p class="copyright">
                    <svg class="svg-icon icon-copyright"><use xlink:href="images/sprite.svg#icon-copyright"></use></svg>
                    <span>2020, Все права защищены</span>
                </p>

                <p class="dev">
                    Разработано в <a href="#">NIDGE Digital Agency</a>
                </p>

            </div><!--content-->

        </div><!--footer__bottom-->

    </footer>

</section><!--page-wrap-->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;key=AIzaSyDOhWZWMNUSIYxWqcIni33voP8yTbnjNXs"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>